@import "~/styles/functions.scss";
@import "~/styles/mixins.scss";
@import "~/styles/variables.scss";

.header {
  @include section;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  padding-top: spacing(14);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 58%;

    &__title {
      margin-bottom: spacing(2);
      color: $color-white;
    }

    &__subtitle {
      text-transform: uppercase;
      color: $color-orange;
      margin-bottom: spacing(2);
    }

    &__body {
      color: $color-white;
      margin-bottom: spacing(5);
    }
  }

  &__paint {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
  }
}

.content {
  @include section;
  gap: spacing(4);
}

@media (max-width: $breakpoint-lg) {
  .header {
    @include section-lg;
    gap: spacing(4);
    padding-top: spacing(16);

    &__content {
      height: fit-content;

      &__title {
        font-size: 36px;
      }
    }

    &__paint {
      max-width: 35%;
    }
  }

  .content {
    @include section-lg;
  }
}

@media (max-width: $breakpoint-md) {
  .header {
    @include section-md;

    display: flex;
    flex-direction: column-reverse;
    gap: spacing(8);
    padding-top: spacing(12);

    &__content {
      width: 80%;

      &__title {
        font-size: 32px;
      }
    }

    &__paint {
      max-width: 42%;
    }
  }

  .content {
    @include section-md;
  }
}

@media (max-width: $breakpoint-sm) {
  .header {
    @include section-sm;
    padding-top: spacing(6);

    &__content {
      width: 100%;

      &__title {
        font-size: 25px;
      }

      &__body,
      &__subtitle {
        font-size: 14px;
      }
    }

    &__paint {
      max-width: 50%;
    }
  }

  .content {
    @include section-sm;
  }
}
