@import "~/styles/functions.scss";
@import "~/styles/mixins.scss";
@import "~/styles/variables.scss";

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include section;

  * {
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-grey-400;
    opacity: 0.7;
    z-index: 0;
    mix-blend-mode: multiply;
  }

  &__title {
    color: $color-white;
    margin-bottom: spacing(10);
    text-align: center;
  }

  &__subtitle {
    max-width: 762px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: spacing(1);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: spacing(4);
    width: 100%;
    margin-bottom: spacing(3);

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: spacing(3);
      padding: 0 spacing(4);
      color: $color-white;

      * {
        z-index: 1;
      }

      &__bg {
        top: 0;
        position: absolute;
        width: 100%;
        max-width: 416px;
        height: 208px;
        border-radius: 10px;
        background-color: $color-black;
        opacity: 0.7;
        z-index: 0;
      }

      &__image {
        width: auto;
      }

      &__title {
        font-size: 31px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: center;
        font-family: "Inter", sans-serif;
      }

      &__description {
        text-align: center;
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .why-us {
    @include section-lg;

    &__title {
      margin-bottom: spacing(8);
    }

    &__cards {
      grid-template-columns: repeat(2, 1fr);

      .card {
        &__title {
          font-size: 28px;
          line-height: 32px;
        }

        &:last-child {
          grid-area: 2 / 1 / 3 / 3;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .why-us {
    @include section-md;

    &__title {
      font-size: 36px;
      margin-bottom: spacing(5);
    }

    &__cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      gap: spacing(4);

      .card {
        grid-area: auto !important;
        padding: 0 spacing(5);
        gap: spacing(2);

        img {
          height: 120px;
        }

        &__bg {
          height: 156px;
        }

        &__title {
          font-size: 20px;
          line-height: 24px;
        }

        &__description {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .why-us {
    @include section-sm;

    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
