$color-black: #1c1d20;
$color-black-overlay: rgba(28, 29, 32, 0.9);
$color-blue: #71a9f7;
$color-green: #0e7c7b;
$color-white: #ffffff;
$color-red: #ff0000;

$color-grey-100: #e8e8e9;
$color-grey-200: #dddddd;
$color-grey-400: #494a4d;
$color-grey-800: #232529;

$color-orange-100: #fff3e5;
$color-orange-200: #ffe7cc;
$color-orange-300: #ffdbb2;
$color-orange-400: #ffcf99;
$color-orange-600: #ffb866;
$color-orange-800: #ffa033;
$color-orange: #ff8800;

$color-purple-100: #f2eefa;
$color-purple-200: #e6def6;
$color-purple-300: #d9cdf2;
$color-purple-400: #cdbded;
$color-purple-600: #b59de5;
$color-purple-800: #835bd3;
$color-purple: #6432c8;

$breakpoint-2k: 1440px;
$breakpoint-xl: 1280px;
$breakpoint-lg: 1024px;
$breakpoint-md: 744px;
$breakpoint-sm: 480px;

$section-max-width: 1440px;
