.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  &--modal-open {
    overflow: hidden;
  }
}
