@import "~/styles/variables.scss";

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 4%;

  &__black svg {
    fill: #000;
  }

  &__white svg {
    fill: #fff;
  }

  &__icon {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
  }
  

  &__text {
    height: 138%;
    font-weight: bold;
    aspect-ratio: 7 / 2.3;
  }

  svg {
    height: 100%;
    width: 100%;

    path {
      &.fill-purple {
        fill: $color-purple;
      }

      &.fill-orange {
        fill: $color-orange;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .logo--responsive {
    align-items: flex-start;

    .logo__text {
      display: none;
    }
  }
}
