@import "~/styles/functions.scss";
@import "~/styles/mixins.scss";
@import "~/styles/variables.scss";

.page-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-color: $color-grey-400;
  background-image: url("/bg-hero-1.jpg");
  background-image: url("/bg-hero-3.jpg");
  background-image: url("/bg-hero-2.jpg");

  .anchor {
    position: absolute;
    top: spacing(-4);
  }

  & > * {
    max-width: $section-max-width;
  }

  &--bg-1 {
    background-image: url("/bg-hero-1.jpg");
  }

  &--bg-2 {
    background-image: url("/bg-hero-2.jpg");
  }

  &--bg-3 {
    background-image: url("/bg-hero-3.jpg");
  }
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 15%;

  &__source {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $color-grey-100;
  }

  &__quote {
    font-weight: 700;
    font-size: 49px;
    color: $color-white;
    margin-top: spacing(1);
    margin-bottom: spacing(8);

    b {
      color: $color-orange;
    }
  }

  &__know-more {
    position: absolute;
    bottom: spacing(4);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: spacing(2);
    width: 100%;
    color: $color-white;
    cursor: default;

    svg path {
      stroke: white;
    }

    &__arrow {
      display: flex;
      flex-direction: column;
      align-items: center;

      div:first-child {
        height: 24px;
        width: 2px;
        border-radius: 1px;
        background-color: $color-white;
      }

      div:last-child {
        margin-top: -14px;
        width: 23px;
        height: 20px;
      }
    }
  }

  &__paint {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
  }
}

@media (min-width: $breakpoint-2k) {
  .hero {
    padding: 0 spacing(20);
  }
}

@media (max-width: $breakpoint-lg) {
  .hero {
    &__quote {
      font-size: 42px;
      margin-bottom: spacing(6);
    }

    &__paint {
      max-width: 35%;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .hero {
    padding: 0 spacing(4);

    &__source {
      font-size: 14px;
    }

    &__quote {
      font-size: 36px;
      margin-bottom: spacing(5);
    }

    &__know-more {
      position: absolute;
      bottom: spacing(4);
      left: spacing(4);
      align-items: flex-start;

      &__arrow {
        display: flex;
        flex-direction: column;
        align-items: center;

        div:first-child {
          height: 96px;
        }
      }
    }

    &__paint {
      max-width: 42%;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .hero {
    &__quote {
      font-size: 28px;
      margin-bottom: spacing(4);
    }

    &__paint {
      max-width: 50%;
    }
  }
}
