@import "~/styles/functions.scss";
@import "~/styles/mixins.scss";
@import "~/styles/variables.scss";

.language-selection {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  user-select: none;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;

  &__icon {
    width: 24px;
    height: 20px;

    svg {
      stroke: $color-white;
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    padding: spacing(1);
    cursor: pointer;
  }

  &__list {
    position: absolute;
    top: 95%;
    width: spacing(9);
    background-color: $color-white;
    padding: spacing(1) 0;
    border-radius: 4px;

    @include card;

    li {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: $color-white;
      color: $color-purple;
      padding: spacing(1);
      cursor: pointer;

      &:hover {
        background-color: $color-grey-100;
      }
    }
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: spacing(4);
  padding-bottom: 3px;
  gap: 5px;

  div {
    height: 3px;
    border-radius: 1px;
    background-color: $color-white;
    margin: 0;
  }

  &--open {
    gap: 0;

    div:nth-child(1) {
      transform: rotate(45deg);
    }

    div:nth-child(2) {
      display: none;
    }

    div:nth-child(3) {
      transform: rotate(-45deg);
      margin-top: -3px;
    }
  }
}

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 112px;
  background-color: transparent;
  padding: spacing(4) spacing(8);

  &__wrapper {
    display: flex;
    gap: spacing(6);
    height: 100%;
    width: 100%;
    max-width: $section-max-width;
  }

  &__logo-container {
    display: flex;
    height: 100%;
  }

  &__contents {
    display: flex;
    gap: spacing(4);
  }

  &__menu-items {
    display: flex;
    align-items: center;
    flex-grow: 1;

    ul {
      display: flex;
      gap: spacing(1);

      li {
        display: flex;
        height: 100%;
        align-content: stretch;

        a {
          display: flex;
          align-items: center;
          white-space: nowrap;
          padding: spacing(1.5);
          font-size: 16px;
          font-weight: 700;
          color: $color-white;

          &:visited {
            color: $color-white;
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    gap: spacing(2);
  }

  &--light,
  &--menu-open,
  &--on-scroll {
    padding: spacing(4) spacing(8);

    .navigation-bar__menu-items li a {
      color: $color-black;

      &:visited {
        color: $color-black;
      }
    }

    .language-selection {
      color: $color-purple;

      svg {
        stroke: $color-purple;
      }
    }

    .hamburger {
      div {
        background-color: $color-purple;
      }

      &--open div {
        background-color: $color-grey-400;
      }
    }
  }

  &--menu-open,
  &--on-scroll {
    background-color: $color-white;

    @include card-elevated;
  }

  &--menu-open {
    .navigation-bar__menu-items li a {
      color: $color-purple;

      &:visited {
        color: $color-purple;
      }
    }
  }

  &--on-scroll {
    height: 96px;
    padding: spacing(3) spacing(8);
  }

  &__responsive-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    padding: 0;
    width: 100vw;
    height: 0;
    background-color: $color-black-overlay;
    mix-blend-mode: multiply;
    overflow: hidden;

    & > article {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      padding: spacing(1) spacing(3) spacing(3);
    }
  }

  &--menu-open {
    .navigation-bar__responsive-menu {
      display: flex;
      height: 100vh;
      border-top: solid 1px $color-grey-100;

      & > article {
        gap: spacing(2);
        padding: spacing(1) spacing(3) spacing(3);
        background-color: $color-white;

        li {
          display: flex;
          border-bottom: solid 1px $color-grey-100;
          border-top: solid 1px $color-grey-100;

          &:first-child {
            border-top-width: 0px;
          }

          a {
            padding: spacing(2) spacing(1);
            width: 100%;
            color: $color-purple;

            &:visited {
              color: $color-purple;
            }
          }
        }

        .language-selection {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-xl) {
  .navigation-bar {
    padding: spacing(4);

    &__wrapper {
      gap: spacing(3);
    }

    &__contents {
      gap: spacing(2);
    }

    &__menu-items {
      .home {
        display: none;
      }
    }

    &--on-scroll {
      padding: spacing(3) spacing(4);
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .hamburger {
    display: flex;
  }

  .navigation-bar {
    &__menu-items {
      display: none;
    }

    &__contents {
      flex-grow: 1;
      justify-content: flex-end;
    }

    &--menu-open {
      .navigation-bar__responsive-menu {
        button,
        .language-selection {
          display: none !important;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .navigation-bar {
    height: 104px;
    padding: spacing(4);

    .hamburger {
      width: spacing(3.5);
    }

    .language-selection {
      display: none;
    }

    #more-info-btn {
      display: none;
    }

    &--on-scroll {
      height: 88px;
      padding: spacing(3) spacing(4);
    }

    &--menu-open {
      .navigation-bar__responsive-menu {
        button,
        .language-selection {
          display: flex !important;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .navigation-bar {
    height: 96px;
    padding: spacing(3);

    &__logo-container {
      display: flex;
      height: 100%;
      padding: spacing(1) 0;
    }

    &--on-scroll {
      height: 72px;
      padding: spacing(1.5) spacing(3);
    }
  }
}
