@import "~/styles/functions.scss";
@import "~/styles/mixins.scss";
@import "~/styles/variables.scss";

.mission {
  @include section;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacing(11);
  padding-top: spacing(22);

  &__image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px 0 0 10px;

    img:not(.paint-bottom, .paint-top) {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    .paint-bottom,
    .paint-top {
      position: absolute;
      height: auto;
    }

    .paint-top {
      width: 45%;
      top: -13%;
      right: 5%;
    }

    .paint-bottom {
      width: 75%;
      bottom: -8%;
      left: -30%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .mission__title {
      margin-bottom: spacing(3);
    }

    .mission__subtitle {
      text-transform: uppercase;
      color: $color-purple;
      margin-bottom: spacing(2);
    }

    .mission__body {
      color: $color-black;
      margin-bottom: spacing(5);
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .mission {
    @include section-lg;
    gap: spacing(4);
    padding-top: spacing(16);

    &__content {
      height: fit-content;
    }

    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .mission {
    @include section-md;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: spacing(12);
    padding-top: spacing(12);

    &__title {
      font-size: 32px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .mission {
    @include section-sm;
    padding-top: spacing(10);

    &__title {
      font-size: 25px;
    }

    &__body,
    &__subtitle {
      font-size: 14px;
    }
  }
}
