@import "~/styles/functions.scss";
@import "~/styles/mixins.scss";
@import "~/styles/variables.scss";

.accordeon {
  display: flex;
  flex-direction: column;

  &__main {
    position: relative;
    display: flex;
    align-items: center;
    gap: spacing(3);
    padding: spacing(3) 0;
    cursor: pointer;

    &:hover {
      .accordeon__icon {
        &-horizontal,
        &-vertical {
          background-color: $color-purple-600;
        }
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    position: relative;
    width: 12px;
    height: 12px;

    &-horizontal,
    &-vertical {
      position: absolute;
      background-color: $color-purple;
    }

    &-horizontal {
      top: 5px;
      left: 0;
      width: 100%;
      height: 2px;
    }

    &-vertical {
      top: 0;
      left: 5px;
      width: 2px;
      height: 100%;
    }
  }

  &__question {
    font-size: 20px;
    font-weight: 700;
  }

  &__answer {
    display: none;
  }

  &--expanded {
    .accordeon__icon-vertical {
      display: none;
    }

    .accordeon__answer {
      padding-left: spacing(5);
      padding-bottom: spacing(3);
      display: block;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .accordeon {
    &__question {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
    }

    &__answer {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
