@import "~/styles/functions.scss";
@import "~/styles/mixins.scss";
@import "~/styles/variables.scss";

.countdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: spacing(5);
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  color: $color-black;

  h3 {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
      font-size: 26px;
      font-weight: 500;
      font-family: "Inter", sans-serif;
    }

    b {
      color: $color-purple;
      font-size: 38px;
      font-weight: 800;
      font-family: "Inter", sans-serif;
    }
  }

  .time {
    display: flex;
    align-items: flex-end;
    gap: spacing(2);

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 120px;
      border-radius: 10px;
      padding: spacing(3) spacing(2);
      background-color: $color-purple-200;

      &__number {
        font-family: "Inter", sans-serif;
        font-size: 64px;
        line-height: 54px;
        font-weight: 700;
      }

      &__unit {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.3px;
      }

      &:last-child {
        width: 100px;

        .time__item__number {
          font-size: 49px;
          line-height: 42px;
        }

        .time__item__unit {
          font-size: 16px;
        }
      }
    }

    p {
      align-self: center;
      font-size: 32px;
      font-weight: 600;
    }
  }

  &__paint-left,
  &__paint-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__paint-left {
    width: 630px;
    height: 570px;
    bottom: 10%;
    right: calc(100% - 200px);
  }

  &__paint-right {
    width: 400px;
    height: 570px;
    top: 10%;
    left: calc(100% - 120px);
  }
}

@media (max-width: $breakpoint-lg) {
  .countdown {
    &__paint-left,
    &__paint-right {
      transform: scale(0.8);
    }
  }
}

@media (max-width: $breakpoint-md) {
  .countdown {
    & > div:first-of-type {
      //logo
      max-width: 220px;
    }

    h3 {
      span {
        font-size: 20px;
      }

      b {
        font-size: 28px;
      }
    }

    .time {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      p {
        display: none;
      }

      &__item {
        width: 90px;

        .time__item__number {
          font-size: 48px;
          line-height: 36px;
        }

        .time__item__unit {
          font-size: 14px;
        }

        &:last-child {
          width: 90px;

          .time__item__number {
            font-size: 48px;
            line-height: 36px;
          }

          .time__item__unit {
            font-size: 14px;
          }
        }
      }
    }

    &__paint-left,
    &__paint-right {
      transform: scale(0.5);
    }

    &__paint-left {
      bottom: -10%;
      right: calc(100% - 260px);
    }

    &__paint-right {
      top: -10%;
      left: calc(100% - 160px);
    }
  }
}
